extends layout

include mixins/_reviewForm
include mixins/_storeProduct
include mixins/_review

block content
  .single
    .single__hero
      if store.photo !== undefined
        img.single__image(src=`https://s3.amazonaws.com/cbdoilmaps-public-images/stores/${store.photo}`)
      else
        img.single__image(src=h.staticMap(store.location.coordinates))
      h2.title.title--single
        a(href=`/store/${store.slug}`) #{store.name}

  .single__details.inner
    if store.photo !== undefined
      img.single__map(src=h.staticMap(store.location.coordinates))
    p.single__location= store.location.address
    p= store.description

    if store.products
      .products
        each p in store.products
          +storeProduct(p)

    if user
      +reviewForm(store)

    if store.reviews
      .reviews
        each review in store.reviews.reverse()
          .review
            +review(review)
